captum==0.5.0
deta==1.1.0
graphviz==0.20.1
Markdown==3.4.1
matplotlib==3.6.2
numpy==1.22.3
opencv_python_headless==4.6.0.66
pandas==1.5.2
Pillow==9.3.0
plotly==5.11.0
scipy==1.9.3
setuptools==65.5.0
streamlit==1.15.2
torch==1.10.1
torchvision==0.11.2
tqdm==4.64.1
transformers==4.25.1
